* {
  font-family: helvetica, arial, sans-serif; }

#main {
  height: 340px;
  width: 240px;
  display: inline-block; }

#webCamWindow {
  display: inline-block; }

line.bones {
  stroke: #1b0f5e;
  stroke-width: 15; }
